* {
  box-sizing: border-box;
}

html,
body {
    font-family: 'Noto Serif', serif;
  a {
    color: inherit;
    text-decoration: none;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    .wrapper {
      padding-top: 50px;
    }

  }
}
